section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login {
    padding: 15px;
    min-height: 80vh;
    width: 350px;
    border-radius: 18px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    backdrop-filter: blur(2px);
    margin: 6px;

}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
}