<form (ngSubmit)="onSubmit()"  [formGroup]="form">
  <section>
    <div class="login">
      <h1>Login</h1>


      <input name="email" type="email" class="form-control mb-1" placeholder="Correo Electrónico" formControlName="email">
      <input name="password" type="password" class="form-control mb-1" placeholder="Contraseña" formControlName="password">


      <button class="btn btn-lg btn-block btn-primary mb-1" type="submit">
        Iniciar Sesión
      </button>

      <p class="text-center">
        ¿No tienes una cuenta? presiona <a routerLink="/auth/register">aqui</a>
      </p>
    </div>
  </section>
</form>