<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <button type="button" (click)="onCLickOut()" class="btn btn-outline-danger me-2">Cerrar Sesión</button>
    </form>
  </div>
</nav>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h4>Datos iniciales para el diagnóstico</h4>
      <form>
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="problemaRespiratorio" class="form-label">Problema respiratorio:</label>
            <select class="form-select" id="problemaRespiratorio">
              <option>No</option>
              <option>Sí</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="fiebre" class="form-label">Fiebre:</label>
            <select class="form-select" id="fiebre">
              <option>No</option>
              <option>Sí</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="tosSeca" class="form-label">Tos seca:</label>
            <select class="form-select" id="tosSeca">
              <option>No</option>
              <option>Sí</option>
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4">
            <label for="dolorGarganta" class="form-label">Dolor de garganta:</label>
            <select class="form-select" id="dolorGarganta">
              <option>No</option>
              <option>Sí</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="narizCongestionada" class="form-label">Nariz congestionada:</label>
            <select class="form-select" id="narizCongestionada">
              <option>Sí</option>
              <option>No</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="asma" class="form-label">Asma:</label>
            <select class="form-select" id="asma">
              <option>No</option>
              <option>Sí</option>
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4">
            <label for="enfermedadCardiaca" class="form-label">Enfermedad cardíaca:</label>
            <select class="form-select" id="enfermedadCardiaca">
              <option>No</option>
              <option>Sí</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="contactoCovid" class="form-label">Contacto con paciente COVID-19:</label>
            <select class="form-select" id="contactoCovid">
              <option>No</option>
              <option>Sí</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="usoMascarillas" class="form-label">Uso de mascarillas:</label>
            <select class="form-select" id="usoMascarillas">
              <option>No</option>
              <option>Sí</option>
            </select>
          </div>
        </div>

        <!-- Botón para realizar el diagnóstico -->
        <button type="submit" class="btn btn-primary">Realizar Diagnóstico</button>
      </form>
    </div>

    <!-- Resultados del diagnóstico -->
    <div class="col-md-4">
      <h4>Resultado del diagnóstico</h4>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Diagnóstico: <span>🤒</span></h5>
          <p class="card-text">
            RESULTADO: Usted dio positivo en la prueba realizada, por favor tome precauciones.
          </p>
          <a href="#" class="btn btn-info">Volver a realizar el diagnóstico</a>
        </div>
      </div>
    </div>
  </div>
</div>