<shared-particles></shared-particles>
<header class="header">
  <shared-header></shared-header>

</header>

<main class="content">
  <h1 class="text-primary">Bienvenido</h1>
  <p class="centered-text text-primary">
    Aquí se pondrá aprueba la forma en la cual los trastornos mentales que
    pueden afectar en la vida cotidiana y en base a un cuestionario se tomará en cuenta los síntomas que te
    han sido impregnados para poder tomar acciones o medidas frente a ello
  </p>
  <button class="btn btn-outline-dark mt-2 p-2">Comenzar</button>
</main>


<footer class="footer">
  <p>&copy; 2024</p>
</footer>