<shared-particles></shared-particles>
<header class="header">
  <shared-header></shared-header>

</header>

<main>
  <div class="welcome">
    <h1 class="text-primary">Bienvenido</h1>
    <p class="centered-text text-primary">
      Aquí se pondrá aprueba la forma en la cual los trastornos mentales que
      pueden afectar en la vida cotidiana y en base a un cuestionario se tomará en cuenta los síntomas que te
      han sido impregnados para poder tomar acciones o medidas frente a ello.
    </p>
  </div>
  <div class="guides">
    <h2>Guias</h2>
    <hr>
    <ul>
      <li>
        Navegación General:
        Utiliza el menú principal para acceder a las secciones de Inicio, Perfil, Cuestionario, Historial y Salir.
      </li>
      <li>
        Perfil:
        Revisa y edita tu información personal desde esta sección. Mantén tus datos actualizados para mejorar la
        experiencia.
      </li>
      <li>
        Cuestionario:

        Accede a esta sección para responder preguntas personalizadas.
        Completa todas las preguntas para obtener resultados y recomendaciones precisas.
        Envía el cuestionario presionando el botón al final del formulario.
      </li>
      <li>
        Historial:
        Consulta los resultados de tus cuestionarios anteriores. Esta sección te ayuda a rastrear tu progreso y observar
        patrones.
      </li>
      <li>
        Salir o Cerrar Sesión:
        Cuando termines, usa el botón de cerrar sesión para salir de forma segura y proteger tu información.
      </li>
    </ul>
  </div>


  <div class="purposse">
    <h2>Objetivos y beneficios</h2>
    <ul>
      <li>
        Permite a los usuarios identificar aspectos de su estado mental y emocional que podrían requerir atención.
      </li>
      <li>
        La sección de historial facilita un registro claro del progreso a lo largo del tiempo.
      </li>
      <li>Ofrece sugerencias adaptadas a los resultados de los cuestionarios, orientadas al bienestar.</li>
      <li>
        Garantiza la protección de los datos personales y los resultados de los usuarios.
      </li>
      <li>Ayuda a detectar señales de alerta tempranas sobre posibles trastornos o problemas, promoviendo la búsqueda de
        apoyo profesional cuando sea necesario.</li>
      <li>Puede ser utilizada en cualquier momento y lugar, adaptándose a la disponibilidad del usuario.</li>
      <li>Disponible para cualquier persona interesada en mejorar su bienestar, sin necesidad de conocimientos previos.
      </li>
    </ul>
  </div>


  <div class="more">
    <h2>Explora Más Sobre el Tema</h2>
    <div class="about mt-3">
      <div class="card" style="width: 18rem;">
        <a href="https://horoscopomariarosales.com/como-la-espiritualidad-puede-mejorar-tu-salud-mental/"><img
            src="https://i.pinimg.com/736x/ee/91/48/ee9148d21d84fa8eaca99ead16c4208a.jpg" class="card-img-top"
            alt="Cómo La Espiritualidad Puede Mejorar Tu Salud Mental"></a>
        <div class="card-body mt-2">
          <p class="card-text">Cómo La Espiritualidad Puede Mejorar Tu Salud Mental</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <a href="https://psicopico.com/la-importancia-de-acudir-a-un-psicologo-para-superar-las-fobias/"><img
            src="https://i.pinimg.com/736x/b7/4c/b8/b74cb870909e39708ab5a6120b6d863d.jpg" class="card-img-top"
            alt="Cómo La Espiritualidad Puede Mejorar Tu Salud Mental"></a>
        <div class="card-body mt-2">
          <p class="card-text">Cómo La Espiritualidad Puede Mejorar Tu Salud Mental</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <a href="https://albertonews.com/salud/ojo-con-la-depresion-puede-ser-muy-grave-y-desencadenar-mas-de-29-enfermedades/"><img
            src="https://albertonews.com/wp-content/uploads/2023/10/Depresion.-Imagen-referencial-750x375.jpg" class="card-img-top"
            alt="Cómo La Espiritualidad Puede Mejorar Tu Salud Mental"></a>
        <div class="card-body mt-2">
          <p class="card-text">Cómo La Espiritualidad Puede Mejorar Tu Salud Mental</p>
        </div>
      </div>
    </div>
  </div>


</main>


<footer class="footer">
  <p>&copy; 2024</p>
</footer>