<shared-particles></shared-particles>
<!-- <section style="background-color: #09f;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <form (submit)="onSubmit()">
                    <div class="card shadow-2-strong bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <h3 class="mb-5">Registro</h3>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input [(ngModel)]="email" name="email" type="email" id="typeEmailX-2"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="typeEmailX-2">Email</label>
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input [(ngModel)]="contrasenia" name="contrasenia" type="password" id="typePasswordX-2"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="typePasswordX-2">Contraseña</label>
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input [(ngModel)]="contrasenia2" name="contrasenia2" type="password"
                                    id="typePasswordX-3" class="form-control form-control-lg" />
                                <ng-template #invalidPass>
                                    <label class="form-label text-danger" for="typePasswordX-3">
                                        La contraseña no es la misma o deberia de tener almenos 6 caracteres</label>
                                </ng-template>
                                <div *ngIf="isValid;else invalidPass"><label class="form-label"
                                        for="typePasswordX-3">Vuelve a ingresar la contraseña</label> </div>

                            </div>

                            <input class="btn btn-primary" type="submit" value="Registrar">

                            <hr class="my-4">

                            <button data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #dd4b39;"
                                type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>


                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> -->
<!-- registration.component.html -->
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <section>
    <div class="register">
      <h1 class="mt-5">Completa el registro</h1>

      <!-- Personal Information -->
      <div class="form-group">
        <input name="firstName" type="text" class="form-control " placeholder="Nombre" formControlName="name">

        @if(isRequired('name')){
        <small class="text-danger">Este campo es requerido</small>
        }


        <input name="lastName" type="text" class="form-control mt-3" placeholder="Apellido" formControlName="lastName">

        <input name="email" type="email" class="form-control mt-3" placeholder="Email" formControlName="email">

        @if(isRequired('email')){
        <small class="text-danger">Este campo es requerido</small>
        }@if(isEmailRequired()){
        <small class="text-danger">El correo es invalido</small>
        }

        <input name="password" type="password" class="form-control mt-3 " placeholder="Contraseña"
          formControlName="password">

        @if(isRequired('password')){
        <small class="text-danger">Este campo es requerido</small>
        }

        <!-- <input name="confirmPassword" type="password" 
            class="form-control mb-3" placeholder="Confirmar Contraseña" required> -->



        <button type="submit" class="btn btn-lg btn-block btn-primary mt-3  mb-3">
          Registarse
        </button>

        <p class="text-center">
          Ya tiene una cuenta? ingrese <a routerLink="/auth/login">aqui</a>
        </p>
      </div>
    </div>
  </section>
</form>