/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #09f;
}


::view-transition-new(root) {
    animation: enter 2s ease 0s normal forwards;
  }
  
  ::view-transition-old(root){
    animation: exit 2s ease 0s normal forwards;
  }
  
  
  
  @keyframes enter {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes exit {
    from {
      opacity: 1;
      transform: scale(1);
    }
  
    to {
      opacity: 0;
      transform: scale(0.6);
    }
  }