/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #09f;
}